body {
  background: #f4f4f4;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button_1 {
  background: #30db4f;
  border: none;
  min-height: 38px;
  padding: 0 20px 0 20px;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

 /* Header */
 header {
   background: #3f4f43;
   padding-top: 30px;
   min-height: 70px;
   border-bottom: 3px solid #30db4f;
 }

 header #branding {
   float: left;
 }

 header #branding h1 {
   margin: 0;
   padding: 0;
   color: white;
 }

 header nav {
   margin-top: 10px;
   float: right;
 }

 header nav li {
   float: left;
   padding: 0 20px 0 20px;
   display: inline;
 }

 header nav a {
   text-decoration: none;
   text-transform: uppercase;
   color: white;
   font-size: 16px;
 }

 header nav a:hover {
   color: #7f8780;
   font-weight: bold;
 }

 header .highlight {
   color: #30db4f;
   font-weight: bold;
 }

 /* Showcase */
 #showcase {
   background: url('../img/showcase.jpg') no-repeat 0 -400px;
   min-height: 400px;
   text-align: center;
   color: white;
 }

 #showcase h1 {
   font-size: 3rem;
   margin-top: 100px;
   margin-bottom: 10px;
 }

 #showcase p{
   font-size: 20px;
   color: #f4f4f4
 }

 /* Newsletter */
 #newsletter {
   background: #3f4f43;
   padding: 20px;
 }

 #newsletter h3 {
   float: left;
   font-size: 20px;
   color: white;
 }

 #newsletter form {
   float: right;
   margin-top: 20px;
 }

 #newsletter form input[type="email"] {
   padding: 5px;
   min-height: 24px;
   width: 250px;
 }

 /* Boxes */
 #boxes {
   margin-top: 20px;
 }

 #boxes img {
   height: 90px;
 }

 #boxes .box {
   float: left;
   width: 30%;
   text-align: center;
   padding: 10px;
 }

 /* Footer */
 
